$primary-color: #6022d3;
$dark-color: #1f2630;
$content-height: calc(100vh - 90px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@mixin right-triangle($color) {
  display: block;
  background-color: $color;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

// Mixins
@mixin custom-button($color, $bg-color) {
  color: $color;
  border: none;
  width: 80px;
  height: 35px;
  border: 1px solid $color;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: 2px 4px 8px rgba($primary-color, 0.1);
  }

  &:focus {
    transform: scale(0.95);
  }
}

@mixin buttonWithRotation($size, $color, $hcolor, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  color: $color;
  transition: transform 350ms ease;
  background-color: $bg;

  &:hover {
    cursor: pointer;
    transition: transform 250ms ease;
    transform: scale(0.95) rotate(180deg);
    color: $hcolor;
  }
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: $primary-color;

  h1 {
    margin-left: 1.3em;
    color: white;
  }
}

#responsive-generated-schema {
  display: none;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  textarea {
    border: none;
    font-size: 14pt;
    height: $content-height;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  textarea:nth-child(2) {
    background-color: rgba($primary-color, 0.1);
  }

  .copied {
    @include right-triangle($primary-color);
    display: none;
    height: 25px;
    padding: 0 0.5em;
    position: absolute;
    top: 35px;
    right: 80px;
    color: white;
  }

  .btnCopy {
    @include custom-button($primary-color, white);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #btnGenerate {
    @include custom-button($primary-color, white);
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

@media (max-width: 1280px) {
  #responsive-generated-schema {
    height: $content-height;
    width: 100%;
    display: block;
    position: absolute;
    background: $dark-color;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding: 20px;

    #responsive-schema {
      overflow-y: scroll;

      code {
        color: white;
      }
    }

    .responsive-close-schema {
      @include buttonWithRotation(50px, $dark-color, $primary-color, none);
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 22pt;
      padding-bottom: 5px;
    }

    .responsive-buttons {
      padding: 16px 0;
      display: flex;
      justify-content: center;

      button {
        @include custom-button($primary-color, white);
      }
    }
  }

  .text-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    #btnGenerate {
      left: auto;
      top: 10px;
      right: 10px;
    }

    .btnCopy,
    textarea:nth-child(2) {
      display: none;
    }
  }
}
