* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@mixin right-triangle($color) {
}

// Mixins
@mixin custom-button($color, $bg-color) {
  color: $color;
  border: none;
  width: 80px;
  height: 35px;
  border: 1px solid $color;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: 2px 4px 8px rgba(steelblue, 0.1);
  }

  &:focus {
    transform: scale(0.95);
  }
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: slateblue;

  h1 {
    margin-left: 1.3em;
    color: white;
  }
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  textarea {
    border: none;
    font-size: 14pt;
    height: calc(100vh - 90px);
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  #btnCopy {
    @include custom-button(steelblue, white);
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #btnGenerate {
    @include custom-button(steelblue, white);
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
